var SETTINGS = {

    OANDA_API_TOKEN: '',

    IS_TESTING: true,

    MYSQL: {
        host: 'localhost',
        port: 8889,
        user: 'root',
        password: 'root',
        database: 'automated-trader'
    }

};

module.exports = SETTINGS;