<!doctype html>
<html>
    <head>
        <title>Automated Trader</title>

        <!-- Styles -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link rel="stylesheet" media="screen, projection" href="../public/styles/screen.css" />

        <!-- Javascript -->
        <script type="text/javascript" src="../public/scripts/require-config.js"></script>
        <script type="text/javascript" src="../public/scripts/require.js" data-main="../public/scripts/main.js"></script>
    </head>

    <body>

            <table class="chart chart_candle">
                <tr>
                    <td>
                        <div class="candle candle_bull" style="top: 30%; height: 20%;">
                            <div class="candle-wick candle-wick_bull" style="top: -20%; bottom: -50%;"></div>
                        </div>
                    </td>
                    <td>
                        <div class="candle candle_bear" style="top: 30%; height: 60%;">
                            <div class="candle-wick candle-wick_bear" style="top: -20%; bottom: -10%;"></div>
                        </div>
                    </td>
                    <td>
                        <div class="candle candle_bull" style="top: 70%; height: 20%;">
                            <div class="candle-wick candle-wick_bull" style="top: -20%; bottom: -5%;"></div>
                        </div>
                    </td>
                    <td>
                        <div class="candle candle_bull" style="top: 40%; height: 30%;">
                            <div class="candle-wick candle-wick_bull" style="top: -20%; bottom: -50%;"></div>
                        </div>
                    </td>
                    <td>
                        <div class="candle candle_bear" style="top: 40%; height: 10%;">
                            <div class="candle-wick candle-wick_bear" style="top: -25%; bottom: -20%;"></div>
                        </div>
                    </td>
                </tr>
            </table>

    </body>
</html>