/* ---------------------------------------------------------------------
Original Author: Brad Anderson
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body {
    height: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */

body {
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    color: #cccccc;
}


/* ---------------------------------------------------------------------
 Module Styles
------------------------------------------------------------------------ */
.chart {
    width: 100%;
    height: 100%;
    border: solid 1px #666666;
}

.chart td {
    position: relative;
}

.chart-times td {
    height: 12px;
    border-top: solid 1px #CCCCCC;
    font-size: 11px;
    text-align: center;
}

.chart-head {
    font-weight: bold;
    color: #000000;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
}

.candle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.6),
                -2px 2px 10px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.candle_bear {
    background: linear-gradient(to right, #cf0404 0%, #ff3019 100%);
}

.candle_bull {
    background: linear-gradient(to right, #299a0b 0%, #75c431 100%);
}

.candle_dancing-bear {
    opacity: 0.5;
}

.candle-wick {
    position: absolute;
    z-index: -1;
    left: 50%;
    width: 1px;
    margin-left: -1px;
    border: solid 1px transparent;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-right: none;
    border-bottom: none;
    box-shadow: -2px 1px 10px rgba(0, 0, 0, 0.6);
}

.candle-wick_bear {
    border-left-color: #ff3019;
    background-color: #cf0404;
}

.candle-wick_bull {
    border-left-color: #75c431;
    background-color: #299a0b;
}